.Main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    background: url(/assets/destination/background-destination-mobile.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    @media screen and (min-width: 768px) {
        background: url(/assets/destination/background-destination-tablet.jpg);
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    @media screen and (min-width: 1200px) {
        background: url(/assets/destination/background-destination-desktop.jpg);
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding-top: 40px;
    }
}

.body {
    color: white;
    margin: 0 0 3rem 0;

    @media screen and (min-width: 768px) {
        margin-top: 2rem;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 75px;
    }
}

.content {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        align-items: flex-start;
    }
}

.Heading {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    span {
        mix-blend-mode: normal;
        opacity: 0.25;
    }

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }
}

.TabContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;

    @media screen and (min-width: 1200px) {
        width: 90%;
        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;
        justify-content: space-around;
    }
}

.Image {
    width: 170px;
    height: 170px;
    margin: 2rem 0 1rem 0;
    animation: rotatePlanet infinite 30s;

    @media screen and (min-width: 768px) {
        margin: 3.75rem 0 1rem 0;
        width: 300px;
        height: 300px;
    }
    @media screen and (min-width: 1200px) {
        margin: 5.5rem 3rem 0 0;
        width: 445px;
        height: 445px;
    }
}

.TABGroup {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }

    span {
        margin: 0 0.5rem;
        padding: 0.5rem 0;
        position: relative;
        cursor: pointer;

        font-family: Barlow Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        color: #d0d6f9;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            margin: 0 1rem;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            margin: 0 1rem;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 3px;
            background: #979797;
            transition: 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.ActiveTab {
    color: white !important;
    &::after {
        background: white !important;
        width: 100% !important;
    }
}

.Details {
    @media screen and (min-width: 1200px) {
        width: 445px;
    }

    .Name {
        font-family: Bellefair;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        margin: 1rem 0;

        @media screen and (min-width: 768px) {
            margin: 2rem 0;
            font-size: 80px;
            line-height: 92px;
        }
        @media screen and (min-width: 1200px) {
            margin: 2.5rem 0;
            font-size: 100px;
            text-align: left;
            line-height: 115px;
        }
    }

    .description {
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #d0d6f9;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 28px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 18px;
            line-height: 32px;
            text-align: left;
        }
    }

    hr {
        border-color: #383b4b;
        margin: 2rem 0;
    }

    .Travel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }

        @media screen and (min-width: 1200px) {
            gap: 5rem;
            justify-content: flex-start;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0;
            padding: 0 2rem;

            @media screen and (min-width: 1200px) {
                padding: 0;
                align-items: flex-start;
            }

            h5 {
                font-family: Barlow Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                letter-spacing: 2.3625px;
                text-transform: uppercase;
                color: #d0d6f9;
                margin-bottom: 0.8rem;
            }

            p {
                font-family: Bellefair;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
}

@keyframes rotatePlanet {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
